{% for comment in comment_list %}
<li class="comment-item">
    {% comment %} <img src="assets/img/user/1.jpg" alt=""> {% endcomment %}
    <div class="content">
        <ul class="info list-inline">
            <li>{{comment.name}}</li>
            <li class="dot"></li>
            <li> {{comment.submit_date}}</li>
        </ul>
        <p>{{comment.comment}}
        </p>
        {% comment %} <div><a href="#" class="link"> <i class="arrow_back"></i> Reply</a></div> {% endcomment %}
    </div>
</li>
{% endfor %}